  main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 50px;
  }

  .btn {
    margin-bottom: 20px;
    width: 120px;
    height: 40px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 12px;
    border-radius: 10px;
  }