@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/** SCREENS **/
@import "index.css";
@import "notice.css";
@import "result.css";
@import "members.css";
@import "gallery.css";
/** COMPONENTS **/
@import "components/header.css";
@import "components/navigation.css";
@import "components/profile.css";


body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.welcome-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:black;
  font-weight: 600;
  margin: 50px;
  margin-top: 100px;
}

.welcome-header__title {
  font-size: 20px;
  margin-bottom: 40px;
}

.welcome-header__text {
  color: rgba( 0, 0, 0, 0.5);
  font-size: 12px;
}
