
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    margin: 20px;
}

.header div {
    font-size: 20px;
}